<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="icon" href="images/T.png">
    {{!-- <script src="https://kit.fontawesome.com/6bf61ced32.js" crossorigin="anonymous" defer></script> --}}
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <header>
        <nav class="nav-bar">
            <h3>Tarik-Pe-Tarik...</h3>
            <ul class="nav-links">
                <li><a href="/login">Login</a></li>   
            </ul>
        </nav>
    </header>

    <div class="image-wrapper">
        <img src="images/tarikh pe tarikh.png" class="image">
    </div>

    <p class="fun-para">A fun project to remember important dates!</p>
        <div class="table-wrapper">
            <table class="table">
                <tr>
                    <th>Event Name</th>
                    <th>Eligibility Criteria</th>
                    <th>Test Mode</th>
                    <th>Last Date To Register</th>
                    <th>Test Date</th>
                </tr>
                {{#each events}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{eligibility}}</td>
                    <td>{{mode}}</td>
                    <td>{{formatDate registrationDate 'Do MMMM YYYY'}}</td>
                    <td>{{formatDate testDate 'Do MMMM YYYY'}}</td>
                </tr>
                {{/each}}
            </table>
        </div>
    <footer>
        <p>A project by Vaibhav Gupta &copy; 2022</p>
        <div class="github">
            <a href="https://github.com/Gupta1998/Tarik-Pe-Tarik">This Project 
            </a>
        </div>
    </footer>
</body>
</html>